body
{
  background-color: black;
  color: white;
  font-size: 20pt;
}

a
{
	color: DimGray;
}

dd
{
	color: gray;
}

.title
{
	font-size: 30pt;
	
}

.subTitle
{
	font-size: 15pt;	
}

.jobDate
{
	font-size: 17pt;
	color: gray;
}

.jobRole
{
	font-size: 17pt;
	color: gray;
}

.jobRoleSub
{
	font-size: 15pt;
	color: gray;
}

.jobTitle
{
	font-weight: bold;	
	text-decoration: underline;
}

.jobSubTitle
{
	font-size: 15pt;
}

.jobLink
{
	font-size: 15pt;
}

table 
{
	border-collapse: collapse;
	border-style: hidden;
}

table td, table th
{
	border: 1px solid black;
}

table tr
{
	border-collapse: collapse;
	border-style: hidden;
}

td
{    
	vertical-align:top;
	padding: 15px;
}
